<% opt = "#{object.respond_to?(:name) ? object.name : model_name.humanize }" %>

<div class="form-actions">
    <%= link_to(eval("#{model_name.pluralize}_path"), class: 'waves-effect waves-pink btn') do %>
      &nbsp;Display All
    <% end %>
    &nbsp;&nbsp;
  
  <% if controller.respond_to?(:update) && can?(:update, object) %>
    <%= link_to(eval("edit_#{model_name}_path(object)"), class: 'waves-effect waves-pink btn') do %>
        &nbsp;<%= "Edit #{opt}" %>
    <% end %>
    &nbsp;&nbsp;
  <% end %>
  
  <% if controller.respond_to?(:destroy) && can?(:destroy, object) %>
    <% if model_name == "user" && object.username == "admin"%>
      <%# Prevent deletion of admin user %>
      <p>Cannot delete original admin user. Contact dev if this is a mistake.</p>
    <% elsif model_name == "item" && object.active %>
      <%= link_to(eval("#{model_name}_path(object)"), method: 'delete', data: {confirm: "Are you sure you want to mark #{opt} as inactive?"}, class: 'waves-effect waves-pink btn btn-alert') do %>
          &nbsp;<%= "Mark Inactive" %>
      <% end %>
    <% elsif model_name != "item" %>
      <%= link_to(eval("#{model_name}_path(object)"), method: 'delete', data: {confirm: "Are you sure you want to permanently delete #{opt}"}, class: 'waves-effect waves-pink btn btn-alert') do %>
          &nbsp;<%= "Delete #{opt}" %>
      <% end %>
    <% end %>
  <% end %>
</div>
