<div class="row">
    <h4>Welcome to Find a Cosplay</h4>
    <div class="card">
      <div class="card-content">
        <p> Find a Cosplay, your favorite cosplay resource finder! :3</p>
        <br>
        <p>Sign In to edit our item, character, or media catalogues :P</p>
      </div>
    </div>

    <p>&nbsp;</p>
    <h4>Popular Items</h4>
    <% for user_item in @recents %>
      <div class="col s4">
        <div class="card small">
          <div class="card-image list_card">
            <% if user_item.item.image.attached? && user_item.item.active %>
              <%= image_tag user_item.item.image, class: "list_img" %>
            <% elsif user_item.item.image.attached? %>
              <%= image_tag user_item.item.image, class: "list_img inactive-img" %>
            <% else %>
              <%= image_tag "photo_placeholder.jpg", class: "list_img" %>
            <% end %>
          </div>
          <div class="card-content">
            <% if user_item.item.active %>
              <span class="card-title"><%= link_to truncate(user_item.item.name, length: 22, omission: "..."), item_path(user_item.item) %></span>
            <% else %>
              <span class="card-title"><%= link_to "#{truncate(user_item.item.name, length: 11, omission: "...")} (Inactive)", item_path(user_item.item) %></span>
            <% end %>
            <p><%= link_to "#{user_item.item.store} ($#{user_item.item.price})", user_item.item.item_link, target: "_blank" %></p>
          </div>
        </div>
      </div>
    <% end %>
</div>
