<div class="card">
    <div class="card-content">
        <h4><%= @character.name %> (<%= link_to "#{@character.medium.name}", medium_path(@character.medium) %>)</h4><br />
        <b>Hair Length: <%= @character.hair_length %></b><br />
        <b>Hair Color: <%= @character.hair_color %></b><br />
        <b>Eye Color: <%= @character.eye_color %></b><br />
        <p>&nbsp;</p>
        <% if @is_saved %>
            <%= button_to user_character_path(@user_character), method: :delete, data: { turbo_confirm: 'Are you sure you wish to delete this information?' }, class: 'waves-effect waves-pink btn btn-alert' do %>
                <b>Remove from Saves</b>
            <% end %>
        <% elsif logged_in? %>
            <b><%= button_to 'Save This Character', new_user_character_path, method: :get, params: { character_id: @character.id }, class: 'waves-effect waves-pink btn' %></b><br />
        <% end %>
    </div>
</div>
<%= render partial: "saved_items", locals: { added_items: @added_items } %>
