<div>
   <%= form_with url: characters_path, method: :get, local: true, class: "search_wrapper_outer" do %>
   <div class="search_wrapper">
        <%= text_field_tag :query,
            params[:query],
            placeholder: "Search characters...",
            class: "search_input" %>
   </div>

    <%# Preserve existing filters when searching %>
    <%= hidden_field_tag :hair_length, params[:hair_length] if params[:hair_length].present? %>
    <%= hidden_field_tag :hair_color, params[:hair_color] if params[:hair_color].present? %>
    <%= hidden_field_tag :eye_color, params[:eye_color] if params[:eye_color].present? %>

    <%= submit_tag "Search", class: "search_button" %>
    <% end %>

    <%= link_to "Clear Search",
        characters_path(request.query_parameters.except(:query)),
        class: "clear_search" if params[:query].present? %> 
</div>

<div class="filter_container">
    <p class="filter_title">Filter by Hair Length: </p>
    <% ["short", "bob", "medium", "long", "none"].each do |hair_length| %>
        <%= link_to hair_length.capitalize,
            characters_path(request.query_parameters.merge(hair_length: hair_length)),
            class: "filter_button #{'active' if params[:hair_length] == hair_length}" %>
    <% end %>

    <%= link_to "Clear Filter",
        characters_path(request.query_parameters.except(:hair_length)),
        class: "filter_button" %>
</div>
<div class="filter_container">
    <p class="filter_title">Filter by Hair Color: </p>
    <% ["Black", "Brown", "Red", "Orange", "Yellow", "Green", "Blue", "Purple", "Pink", "White"].each do |color| %>
    <%= link_to color.capitalize,
        characters_path(request.query_parameters.merge(hair_color: color)),
        class: "filter_button #{'active' if params[:hair_color] == color}" %>
    <% end %>

    <%= link_to "Clear Filter",
        characters_path(request.query_parameters.except(:hair_color)),
        class: "filter_button" %>
</div>
<div class="filter_container">
    <p class="filter_title">Filter by Eye Color: </p>
    <% ["Black", "Brown", "Red", "Orange", "Yellow", "Green", "Blue", "Purple", "Pink", "White"].each do |color| %>
    <%= link_to color.capitalize,
        characters_path(request.query_parameters.merge(eye_color: color)),
        class: "filter_button #{'active' if params[:eye_color] == color}" %>
    <% end %>

    <%= link_to "Clear Filter",
        characters_path(request.query_parameters.except(:eye_color)),
        class: "filter_button" %>
</div>