<% if @user_item && @user_item.id && @user_item.item_id %>
    <%# updated a save only shows that item %>
    <%= f.input :item_id, collection: [[@user_item.item.name, @user_item.item.id]], include_blank: false, input_html: { class: 'browser-default' } %>
<% elsif @user_item && @user_item.item_id %>
    <%# new save with set params from the previous page has option preselected %>
    <%= f.input :item_id, collection: get_unsaved_items, include_blank: false, selected: @user_item.item_id, input_html: { class: 'browser-default' } %>
<% else %>
    <%# new save with no set params has nothing preselected %>
    <%= f.input :item_id, collection: get_unsaved_items, include_blank: true, input_html: { class: 'browser-default' } %>
<% end %>
<div class="purchased-field">
  <label for="visible_checkbox" class="purchased-label">Purchased</label>
  <%= f.input :purchased, label: false, input_html: { id: "visible_checkbox" } %>
</div>
<% if @user_item && @user_item.purchased %>
    <%= f.input :rating, collection: UserItem::RATINGS, include_blank: true, input_html: { class: 'browser-default' } %>
    <%= f.input :review, label_html: { class: 'active' } %>
<% end %>
