<div class="card">
    <div class="card-content">
        <% if @item.image.attached? %>
            <%= image_tag @item.image, class: "data-img" %>
        <% end %>
        <h4><%= @item.name %></h4><br />
        <% if @average %>
            <% for i in 1..@average.to_i %>
                <i class="material-icons">star</i>
            <% end %>
            <% for j in 1..(5 - @average.to_i) %>
                <i class="material-icons">star_border</i>
            <% end %>
            <br />
        <% else %>
            <b>No User Ratings Yet</b><br />
        <% end %>
        <p>&nbsp;</p>
        <b>Store: <%= @item.store %></b><br />
        <b>Price: $<%= @item.price %></b><br />
        <b>Category: <%= @item.category.capitalize %></b><br />
        <p>&nbsp;</p>
        <% if @is_saved %>
            <%= button_to user_item_path(@user_item), method: :delete, data: { turbo_confirm: 'Are you sure you wish to delete this information?' }, class: 'waves-effect waves-pink btn btn-alert' do %>
                <b>Remove from Saves</b>
            <% end %>
        <% elsif logged_in? %>
            <b><%= button_to 'Save This Item', new_user_item_path, method: :get, params: { item_id: @item.id }, class: 'waves-effect waves-pink btn' %></b><br />
        <% end %>
        <% if logged_in? %>
            <p>&nbsp;</p>
            <b><%= button_to 'Add this Item to a Character', new_character_item_path, method: :get, params: { item_id: @item.id }, class: 'waves-effect waves-pink btn' %></b><br />
        <% end %>

        <div class="card-action">
            <a href="<%= @item.item_link %>" target="_blank" class="blue-text">View in Store</a>
        </div>
    </div>
</div>
