<div class="card">
    <div class="card-content">
        <h3>Items</h3>
        <table class="striped-highlight">
            <thead>
                <th>Name</th>
                <th>Store</th>
                <th>Price</th>
                <th>Category</th>
                <% if logged_in? %>
                    <th class="align_center">Options</th>
                <% end %>
            </thead>
            <% for item in @items%>
                <tr>
                    <td><%= link_to "#{item.name}", item_path(item) %></td>
                    <td><%= link_to "#{item.store}", item.item_link, target: "_blank" %></td>
                    <td>$<%= item.price %></td>
                    <td><%= item.category.capitalize %></td>
                    <% if logged_in? %>
                        <td class="align_center">
                        <%= link_to edit_item_path(item) do %>
                            <i class="material-icons">edit</i>
                        <% end %>
                        &nbsp;&nbsp;&nbsp;&nbsp; 
                        <%= link_to(item_path(item), method: :delete, data: { confirm: 'Are you sure you wish to delete this information?' }) do %>
                            <i class="material-icons">delete</i>
                        <% end %>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </table>
        <br />
        <%# Paginate if turns out to work correctly %>
    </div>
</div>
