<div class="card">
    <div class="card-content">
        <h3><%= @item.name %></h3><br />
        <b>Store: <%= link_to "#{@item.store}", @item.item_link, target: "_blank" %></b><br />
        <b>Price: <%= @item.price %></b><br />
        <b>Category: <%= @item.category %></b><br />

        <b><%= link_to 'Save This Item', new_user_item_path(item_id: @item.id) %></b><br />
        <b><%= link_to 'Add this Item to a Character', new_character_item_path(item_id: @item.id) %></b><br />
    </div>
</div>
